services:
  authms:
    build:
      context: .
      dockerfile: AuthMS/Dockerfile
    container_name: authms_api
    env_file:
      - .env 
    environment:
      ConnectionStrings__DefaultConnection: "Server=directory_sql,1433;Database=AuthMS;User Id=sa;Password=SecurePassword123!;Encrypt=True;TrustServerCertificate=True"
      ASPNETCORE_ENVIRONMENT: "Development"
      ASPNETCORE_URLS: "http://+:8080"
      DirectoryMS__BaseUrl: "http://directoryms:8080"
      JwtSettings__key: "${JWT_KEY}"
      JwtSettings__issuer: "${JWT_ISSUER}"
      JwtSettings__audience: "${JWT_AUDIENCE}"
      JwtSettings__expiresInMinutes: "{JWT_EXPIRES_IN_MINUTES}"
      EmailSettings__smtpServer: "${EMAIL_SMTP_SERVER}"
      EmailSettings__smtpPort: "${EMAIL_SMTP_PORT}"
      EmailSettings__SenderPassword: "${EMAIL_SENDER_PASSWORD}"
      EmailSettings__SenderEmail: "${EMAIL_SENDER_EMAIL}"
    ports:
      - "8081:8080"
    networks:
      - cuidarmed_net

networks:
  cuidarmed_net:
    external: true
