services:
  authms_api:
    build:
      context: .
      dockerfile: AuthMS/Dockerfile
    container_name: authms_api
    environment:
      ASPNETCORE_ENVIRONMENT: "Development"
      ConnectionStrings__DefaultConnection: 'Server=sql_server,1433;Database=AUTH;User Id=sa;Password=SecurePassword123!;Encrypt=False;TrustServerCertificate=True;'
      DirectoryMS__BaseUrl: "http://directoryms_api:8080"
      JwtSettings__key: ${JWT_KEY}
      JwtSettings__issuer: ${JWT_ISSUER}
      JwtSettings__audience: ${JWT_AUDIENCE}
      JwtSettings__expiresInMinutes: ${JWT_EXPIRES_IN_MINUTES}
      EmailSettings__SmtpServer: ${EMAIL_SMTP_SERVER}
      EmailSettings__SmtpPort: ${EMAIL_SMTP_PORT}
      EmailSettings__SenderEmail: ${EMAIL_SENDER_EMAIL}
      EmailSettings__SenderPassword: ${EMAIL_SENDER_PASSWORD}
    ports:
      - "8082:8080"
    networks:
      - cuidarmed_new_net

networks:
  cuidarmed_new_net:
    external: true
