services:
  authms_api:
    build:
      context: .
      dockerfile: AuthMS/Dockerfile
    container_name: authms_api
    environment:
      ASPNETCORE_ENVIRONMENT: "Development"
      ConnectionStrings__DefaultConnection: 'Server=db33326.public.databaseasp.net,1433;Database=db33326;User Id=db33326;Password=6Aw@Rk-92Ko=;Encrypt=True;TrustServerCertificate=True;MultipleActiveResultSets=True;'

      DirectoryMS__BaseUrl: "http://host.docker.internal:8081"
      # Clave JWT hardcodeada (44 caracteres = 352 bits, suficiente para HMAC-SHA256)
      JwtSettings__key: "SuperLargaClaveDeJwtParaCuidarMed+123456789"
      JwtSettings__issuer: "CuidarMed"
      JwtSettings__audience: "CuidarMed"
      JwtSettings__TokenExpirationMinutes: "60"
      EmailSettings__SmtpServer: ${EMAIL_SMTP_SERVER:-smtp.gmail.com}
      EmailSettings__SmtpPort: ${EMAIL_SMTP_PORT:-587}
      EmailSettings__SenderEmail: ${EMAIL_SENDER_EMAIL:-noreply@cuidarmed.com}
      EmailSettings__SenderPassword: ${EMAIL_SENDER_PASSWORD:-dev-password}
      EmailSettings__EnableEmails: true
    ports:
      - "8082:8080"
    networks:
      - cuidarmed_new_net

networks:
  cuidarmed_new_net:
    external: true
